
  <div class="col-md-6">
    <h3 id="syllabus-socialsci-spreadsheets">Data Organization in Spreadsheets</h3>
    <ul>
      <li><a href="https://datacarpentry.org/spreadsheets-socialsci/00-intro/index.html">Introduction</a></li>
      <li><a href="https://datacarpentry.org/spreadsheets-socialsci/01-format-data/index.html">Formatting Tables in Spreadsheets</a></li>
      <li><a href="https://datacarpentry.org/spreadsheets-socialsci/02-common-mistakes/index.html">Formatting Problems</a></li>
      <li><a href="https://datacarpentry.org/spreadsheets-socialsci/03-dates-as-data/index.html">Dates as Data</a></li>
      <li><a href="https://datacarpentry.org/spreadsheets-socialsci/04-quality-assurance/index.html">Quality Assurance</a></li>
      <li><a href="https://datacarpentry.org/spreadsheets-socialsci/05-exporting-data/index.html">Exporting Data</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-socialsci-openrefine">Data Cleaning with OpenRefine</h3>
    <ul>
      <li><a href="https://datacarpentry.org/openrefine-socialsci/01-introduction/index.html">Introduction</a></li>
      <li><a href="https://datacarpentry.org/openrefine-socialsci/02-working-with-openrefine/index.html">Working with OpenRefine</a></li>
      <li><a href="https://datacarpentry.org/openrefine-socialsci/03-filter-sort/index.html">Filtering and Sorting</a></li>
      <li><a href="https://datacarpentry.org/openrefine-socialsci/04-numbers/index.html">Examining Numeric Data</a></li>
      <li><a href="https://datacarpentry.org/openrefine-socialsci/05-scripts/index.html">Generating Scripts</a></li>
      <li><a href="https://datacarpentry.org/openrefine-socialsci/06-saving/index.html">Exporting Data</a></li>
      <li><a href="https://datacarpentry.org/openrefine-socialsci/07-resources/index.html">Other Resources</a></li>    
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-socialsci-r">Introduction to R</h3>
    <ul>
      <li><a href="https://datacarpentry.org/r-socialsci/00-intro/index.html">Overview of R and RStudio</a></li>
      <li><a href="https://datacarpentry.org/r-socialsci/01-intro-to-r/index.html">Introduction to R</a></li>
      <li><a href="https://datacarpentry.org/r-socialsci/02-starting-with-data/index.html">Starting with Data</a></li>
      <li><a href="https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/index.html">Manipulating Data Frames with <code>dplyr</code></a></li>
      <li><a href="https://datacarpentry.org/r-socialsci/04-ggplot2/index.html">Data Visualisation with <code>ggplot2</code></a></li>
    </ul>
  </div>



</div>
